.button {
  margin-top: 1.5rem;
  border-radius: 290486px;
  padding-left: calc(1em + 1em);
  padding-right: calc(1em + 1em);
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .9rem;
  
  &.is-secondary {
    background-color: $secondary;
    color: $white;
    border-color: $secondary;
    &.is-outlined {
      background-color: transparent;
      border-color: $secondary;
      color: $secondary;
      &:hover {
        background-color: $secondary;
        color: $white;
      }
    }
  }
}

.media-centered {
    display: block;
    .media-icon .image {
      margin: 0 auto;
    }
  }
.media-image {
margin-bottom: 1rem;
}

figure.image-cover {
  position: relative;
  height: 100%;
  margin: 0;
  picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-container {
  width: 100%;
}

.m {
  @for $i from 0 through 6 {
    &-#{$i} {
      margin: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &y-#{$i} {
      margin-top: .5rem * $i!important;
      margin-bottom: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &x-#{$i} {
      margin-left: .5rem * $i!important;
      margin-right: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &t-#{$i} {
      margin-top: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &b-#{$i} {
      margin-bottom: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &l-#{$i} {
      margin-left: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &r-#{$i} {
      margin-right: .5rem * $i!important;
    }
  }
}
.p {
  @for $i from 0 through 6 {
    &-#{$i} {
      padding: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &y-#{$i} {
      padding-top: .5rem * $i!important;
      padding-bottom: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &x-#{$i} {
      padding-left: .5rem * $i!important;
      padding-right: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &t-#{$i} {
      padding-top: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &b-#{$i} {
      padding-bottom: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &l-#{$i} {
      padding-left: .5rem * $i!important;
    }
  }
  @for $i from 0 through 6 {
    &r-#{$i} {
      padding-right: .5rem * $i!important;
    }
  }
}
