.button {
    margin-top: 1.5rem;
}

.media-centered {
    display: block;
    .media-icon .image {
      margin: 0 auto;
    }
  }
.media-image {
margin-bottom: 1rem;
}

figure.image-cover {
  picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }
}