.section {
    margin: 2.5rem 0;
}

.has-background, .has-gradient {
    &-dark, &-black, &-primary, &-left-to-right--blue {
        div, h1, h2, h3, h4, h5, h6, p, strong, a:not(.button) {
            color: $white!important;
        }
        p {
            color: $primary-lighter!important;
        }
    }
}

.has-gradient {
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &.has-gradient-left-to-right .overlay {
        background: transparent linear-gradient(90deg, $primary 0%, rgba($primary,0) 100%);
    }
    &.has-gradient-left-to-right--blue {
        background: transparent linear-gradient(90deg, $primary 0%, $primary-light 100%);
    }
}