.hero {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    &.is-dark h1 {
      color: $white;
      font-size: 3rem;
    }
  
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
    }
  }

.has-text-secondary {
    color: $secondary;
}

.has-background, .has-gradient {
    &-dark, &-black, &-primary, &-left-to-right--blue {
        div, h1, h2, h3, h4, h5, h6, p, strong, a:not(.button) {
            color: $white!important;
        }
        p {
            color: $primary-lighter!important;
        }
    }
    &-secondary {
        color: $primary;
        &-1 { 
            background-color: $secondary-1;
        }
        &-2 { 
            background-color: $secondary-2;
        }
        &-3 { 
            background-color: $secondary-3; 
        }
    }
}

.has-gradient {
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &.has-gradient-left-to-right .overlay {
        background: transparent linear-gradient(90deg, $primary 0%, rgba($primary,0) 100%);
    }
    &.has-gradient-left-to-right--blue {
        background: transparent linear-gradient(90deg, $primary 0%, $primary-light 100%);
    }
}