// Home
#prenota {
    h3 {
        margin-bottom: 0!important;
    }
    margin-bottom: 0;
    @media screen and (min-width: 769px) {
        z-index: 2;
        margin-bottom: -3rem!important;
    }
}
#servizi {
    padding: 0;
    margin-top: 0;
    .columns {
        figure {
            @media screen and (max-width: 768px) {
                padding-bottom: 100%;
            }
        }
        .column.is-auto {
            & > div {
                max-width: 700px;
            }
            padding: 3rem 2rem 3rem 2rem;
            @media screen and (min-width: 769px) {
                padding: 9rem 3rem 3rem 3rem;
            }
            @media screen and (min-width: 1024) {
                padding: 9rem 6rem 6rem 6rem;
            }
        } 
    }
}

#calltoaction {
    margin-bottom: -4rem;
    z-index: 2;
}
#testimonial-section {
    padding-top: 8rem!important;
    margin-top: 0;
}