@import "./resources";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');
$font-primary: 'Poppins', sans-serif;

body {
  text-rendering: optimizeLegibility;
  font-family: $font-primary;
}

* {
  box-sizing: border-box;
}