@import "./resources";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');
$font-primary: 'Poppins', sans-serif;

body {
  text-rendering: optimizeLegibility;
  font-family: $font-primary;
  color: $black;
}

* {
  box-sizing: border-box;
}

.page-enter-active {
  transition: opacity 0.4s ease-out;
}

.page-leave-active {
  transition: opacity 0.4s ease-in;
}

.page-enter,
.page-leave-active {
  opacity: 0.25;
}