$black: #080808;

$white: #ffffff;
$light: #F5F5F5;
$lighter: #F7F7F7;

$primary: #003182;
$primary-light: #1952B2;
$primary-lighter: #ABCBFF;

$secondary: #6FC0C6;
$secondary-1: #B4DBDE;
$secondary-2: #CBE7E8;
$secondary-3: #DFF0F2;

$link: $primary;